* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 200px;
    left: 300px;
    border: 2px solid black;
    border-radius: 8px;
}

.close-button,
fa-xmark {
    position: absolute;
    left: 96%;
}

.container-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.fa-circle-play {
    font-size: 35px;
    color:rgb(48, 48, 183);
}
.links{
    line-height: 1.5pc;
}
.links h2{
font-size: 15px;

}
.links p{
    font-size: 13px;
}

.links a {
    cursor: pointer;
    text-decoration: underline;
    color:rgb(48, 48, 183);
}

#popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#popupContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    width: 500px;
    border-radius: 10px 10px 0px 0px;

}

.onbpording-page {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    padding: 2px 8px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 3px solid gold;
}

.welcome-text {
    text-align: center;
    padding: 80px 30px;
    line-height: 2pc;

}

.fa-xmark {
    font-size: 10px;
}

 p{
    font-size: 11px;

}

button {
    padding: 6px 25px;
    border-radius: 3px;
    border: none;
    font-size: 10px;
    font-weight: bold;
    background-color: gold;
    margin-top: 15px;
}

.skip-tutorial {
    text-align: center;
    padding: 20px;
}

.skip-tutorial a {
    color:rgb(48, 48, 183);

}

#secondScreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#secondSlide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    width: 580px;
    border-radius: 10px 10px 0px 0px;
}

.slide-container {
    text-align: center;
    padding: 20px 0px;
    position: relative;
}

.slide-container p {
    font-weight: 400;
    font-size: 10px;
    margin-top: 10px;
}

.Dashboard img {
    margin-top: 15px;
    width: 500px;
    height: 200px;
}

.movable-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}


#previous {
    background-color: rgba(240, 248, 255, 0.817);
    border: 2px solid #0b64b7;
    color: #0b64b7;
   

}
.hidden {
    visibility: hidden;
}

#navigationBubbles {
    text-align: center;
}

.slideshow .Dashboard {
    display: none;
}

.slideshow .Dashboard.active {
    display: block;
}

.dots {
    text-align: center;
    position: relative;
}

.dots .dot {  
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    bottom: 40px;
    transition: background-color 0.3s ease;
}

.dots .dot.active {
    background-color: #555;
}
.close{
    display: none;
}